page-game {

}

.board {
   display: inline-block;
}

.board-container{
    text-align: center;
    padding-top: 40px;
}

.game-row {
    display: block;
    padding: 0px !important;

}

.game-column{
    display: inline-block;
    padding: 0px !important;

}

.dot {
    width: 3px;
    height: 3px;
    background: black;
    display: inline-block;
    margin: 0px !important;

}

.h-bar {
    width: 20px;
    height: 3px;
    background: rgb(255, 255, 255);
    display: inline-block;
    margin: 0px !important;
}

.v-bar {
    width: 3px;
    height: 20px;
    background: rgb(255, 255, 255);
    display: inline-block;
    margin: 0px !important;
}

.h-bar, .v-bar {
    position: relative;

}

// .h-bar:hover, .v-bar:hover {
//     background-color: rgba(0,0,0,.2) !important;
// }

.h-clicker ,.v-clicker  {
    height: 16px;
    width: 16px;
    transform: rotate(45deg);
    position: absolute;
    z-index: 10;

}

.h-clicker {

    top: -6px; 

}

.v-clicker {

    top: 2px; 
    left: -8px;

}



.square {
    height: 20px;
    width: 20px;
    display: inline-block;
}



.game-row, .game-column, .dot, .h-bar, .v-bar ,.square { 
    font-size: 0px !important;
}


.turn-indicator {
float: right;
}

.turnBox {
    padding: 20px;
    color: white;
    text-align: center;
}

.newGameBox {
    padding: 20px;
    color: black;
    background:#f8f8f8;
    text-align: center;
}

.gameOverSpan {

}

.no-padding {
    padding: 0px !important;
}

.moveUp{
    margin-top: -8px;
}


.color {
   color: rgb(0, 255, 51);
}

.color {
    color: rgb(255, 0, 238);
 }

 
.lastPlay {
    animation: LastPlayBlinking 1s infinite;  /* IE 10+, Fx 29+ */
} 


 @keyframes LastPlayBlinking {
    0%, 49% {
      background-color: black; 
    }
    50%, 100% {
      background-color: rgb(255, 119, 0);
    }
  }