$darkBg: rgb(43, 48, 53);
$lessDarkBG: rgb(59, 65, 72);

header {
    text-align: center;
    padding: 2em 0;
    background: $darkBg;
    color: white;

}

h1 {

    margin-top: 0 !important;
    font-family: lemon;
    font-size: 40px;
}

p{
    line-height: 1.5em;
    font-size: 20px;
}

* {
    font-family: railway;

}

a {
    color: rgb(203, 2, 189);

}





.board {
   display: inline-block;
}

.board-container{
    text-align: center;
    padding-top: 40px;
}

.game-row {
    display: block;
    padding: 0px !important;

}

.game-column{
    display: inline-block;
    padding: 0px !important;

}

.dot {
    width: 3px;
    height: 3px;
    background: black;
    display: inline-block;
    margin: 0px !important;

}

.h-bar {
    width: 20px;
    height: 3px;
    background: rgb(255, 255, 255);
    display: inline-block;
    margin: 0px !important;
}

.v-bar {
    width: 3px;
    height: 20px;
    background: rgb(255, 255, 255);
    display: inline-block;
    margin: 0px !important;
}

.h-bar, .v-bar {
    position: relative;

}



.h-clicker ,.v-clicker  {
    height: 16px;
    width: 16px;
    transform: rotate(45deg);
    position: absolute;
    z-index: 10;

}

.h-clicker {

    top: -6px; 

}

.v-clicker {

    top: 2px; 
    left: -8px;

}



.square {
    height: 20px;
    width: 20px;
    display: inline-block;
}



.game-row, .game-column, .dot, .h-bar, .v-bar ,.square { 
    font-size: 0px !important;
}


.turn-indicator {
float: right;
}

.turnBox {
    padding: 20px;
    color: white;
    text-align: center;
}

.newGameBox {
    padding: 20px;
    color: black;
    background:#f8f8f8;
    text-align: center;
}

.gameOverSpan {

}

.no-padding {
    padding: 0px !important;
}

.moveUp{
    margin-top: -8px;
}


.color {
   color: rgb(1, 169, 199);
}

.color {
    color: rgb(203, 2, 189);
 }

 
.lastPlay {
    animation: LastPlayBlinking 1s infinite;  /* IE 10+, Fx 29+ */
} 


 @keyframes LastPlayBlinking {
    0%, 49% {
      background-color: black; 
    }
    50%, 100% {
      background-color: rgb(255, 119, 0);
    }
  }

 
#rules {
    background: $darkBg;
    color: white;
}

#gameBoard {
    padding-bottom: 40px;
}

#source {
    background: $lessDarkBG;
    color: white;
 
}

#rules, #source {
    padding: 3rem ;

}

.textBody{
    max-width: 650px;
    margin: auto;
    text-align: center;
}

.rule {
    background: transparent;
    color: white;
    padding: 10px;
    font-size: 20px;
}

