<!--
  Generated template for the GamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  
<ion-content>

  <ion-grid class="no-padding">
    <ion-row>

      <ng-container *ngIf="!gameOver">
      <ng-container  *ngFor="let player of playerArray" >
          <ion-col class="turnBox" *ngIf="turn === player.playerIndex" [style.background]="player.playerColor">
              {{player.playerName}}'s Turn
          </ion-col>
        </ng-container>
      </ng-container>

      <ion-col *ngIf="gameOver" class="newGameBox">
      <p>Game Over </p>
      <p> <button class="" ion-button small (click)="playAgain()">Play again?</button> </p>
      </ion-col>

    </ion-row>
    <ion-row> 
      <ion-col class="board-container"> 
      <div class="board" *ngIf="barControlObject && squareControlObject"> 
        <div class="game-row" *ngFor="let row of rowArray">
          <div class="game-column" *ngFor="let column of columnArray">
            <div class="h-row"> 
              <div id="dot{{row}}-{{column}}" class="dot"></div>
              <div 
                class="h-bar" 
                [ngClass]="{'lastPlay': barControlObject[row + '-' + column + '--' + row + '-' + (column+1)]['lastPlay']}"
                [style.background]="(barControlObject[row + '-' + column + '--' + row + '-' + (column+1)]) ? barControlObject[row + '-' + column + '--' + row + '-' + (column+1)]['background'] : ''" 
                id="{{row}}-{{column}}--{{row}}-{{column+1}}" 
                *ngIf="column !== (columnArray.length -1)"
                (click)="clickBar(row + '-' + column + '--' + row + '-' + (column+1),0)"
                >
              <div class="h-clicker"></div>
              </div>
            </div>
            <div class="v-row" *ngIf="row !== (rowArray.length -1)">
              <div 
                class="v-bar" 
                id="{{row}}-{{column}}--{{row+1}}-{{column}}"
                [ngClass]="{'lastPlay': barControlObject[row + '-' + column + '--' + (row + 1) + '-' + column]['lastPlay']}"
                [style.background]="(barControlObject[row + '-' + column + '--' + (row + 1) + '-' + column]) ? barControlObject[row + '-' + column + '--' + (row + 1) + '-' + column]['background'] : ''"
                (click)="clickBar(row + '-' + column + '--' + (row + 1) + '-' + column,0)"
                >
                <div class="v-clicker"></div>
              </div>
              <div class="square"
                id="square{{row}}-{{column}}"
                [style.background]="(squareControlObject[row + '-' + column]) ? squareControlObject[row + '-' + column]['background'] : ''"
                *ngIf="column !== (columnArray.length -1)"
              ></div>
            </div> 
          </div> <!-- column for --> 
        </div> <!-- row for -->
      </div> <!-- board -->
    </ion-col>
  </ion-row>
    
  </ion-grid>

</ion-content>
  
  
  